doctype html
html(lang="fr")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= pageTitle
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css")
  body
    section.section
      .container
        h1.title PME
        p.subtitle Gestion d’heures et de salaires
        p= message   
        p
          a(href='login') Connexion
        p
          a(href='time') Temps de travails
        p
          a(href='money-list') Liste de salaires
    footer.footer 
      .content.has-text-centered
